.jsdatatable {
	border-collapse: collapse;  width: 90%; margin: 0 auto 5rem; text-align: center;
	
}

.jsdatatable tr {
	background-color: #c8e262;
}



.jsdatatable tr, .jsdatatable td { transition: .4s ease-in; } 

.jsdatatable tr:first-child {background-color: #ff750e; }

.jsdatatable tr:nth-child(even) { background-color: #a6c040; }

.jsdatatable td:empty {background-color: #a6c040; }




#container
{
	margin: 0 auto;
	width: 900px;
	background:#fff;
}

#htitle {
	font-family:Verdana;
	font-size:24px;
	background:url("img/logo.png") no-repeat;
	padding-left:70px;
	padding-top:30px;
	font-weight:bold;
	height:30px;	
}

#header
{
	background:#a6c040;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 1000px;
	background:#1b5f30;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

.sdetailstbl th{
	background:#A6C040;
	width:160px;
	color:#FFF;
	padding-top:3px;
	padding-botton:3px;
	padding-right:5px;
	padding-bottom:5px;
	text-align:right;
}

.sdetailstbl td{
	background:#ddd;
	text-align:left;
	padding-left:5px;
}

.freqchart {
	background:url('img/chart.png') no-repeat left;
	padding-left:18px;
}

#navigation li a:hover { background:#383; }

#content
{
	clear: left;
	padding: 0;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background:#a6c040;
	text-align: right;
	padding: 20px;
	height: 1%;
	border-top: 5px solid #1b5f30;
}

#dbcontainer {
	margin:0;
	width:900px;
	
}

#crumbtrail {
	margin-top:10px;
	margin-bottom:5px;
	padding-left: 10px;	
}

/*.x-tree-node-text {
	white-space:normal;
}*/

#catalogview_header_hd-textEl {
	background:url('/roda/resources/root/img/catalog.png') no-repeat left;
	padding-left:30px;
}

#seriesview_header_hd-textEl {
	background:url('/roda/resources/root/img/series.png') no-repeat left;
	padding-left:30px;
}

#studyview_header_hd-textEl {
	background:url('/roda/resources/root/img/study.png') no-repeat left;
	padding-left:30px;
}

.studyfiles {
	padding:10px;
	border-bottom-type:dotted;
	
}

.studyfiledl {
	margin-bottom:10px;	
	padding-bottom:10px;
}

.file-pdf {
	background:url('/roda/resources/root/img/pdficon.png') no-repeat left;
	padding-left:40px;
}

.file-xml {
	background:url('/roda/resources/root/img/xmlicon.png') no-repeat left;
	padding-left:40px;
	padding-top:10px;
	padding-bottom: 10px;
}
